/* NAVBAR */
.navbar {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  color: #facc15;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 25px;
  position: sticky;
  top: 0;
    z-index: 9999;


  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #facc15;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LINKS */
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

/* UNDERLINE ANIMATION */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #facc15;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* BUTTONS */
.book-btn {
  background: linear-gradient(135deg, #facc15, #ffdd57);
  color: black;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.book-btn:hover {
  transform: scale(1.05);
}

.call-btn {
  background: #25D366;
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
}

.call-btn:hover {
  transform: scale(1.05);
}

/* HAMBURGER ICON */
 
 .menu-icon {
  position: relative;
  z-index: 10000;
  cursor: pointer;
  display: none;

}

/* MOBILE */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;

    background: rgba(0,0,0,0.95);
    backdrop-filter: blur(10px);

    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 0;

    transform: translateY(-100%);
    opacity: 0;
    transition: 0.4s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
  }
}